:root {
    --main-color: #fc6736;
    --transition-duration: 0.1s;
    --primary-color: black;
    --secondary-color: white;
    --primary-mode: white;
    --secondary-mode: #f4f7fa;
    --third-mode: #f0f5fb;
    --gold-text: #ff8800;
    --red-text: red;
}

@media (prefers-color-scheme: dark) {

    /* Styles for dark mode */
    :root {
        --primary-color: white;
        --secondary-color: black;
        --primary-mode: #1b1b1c;
        --secondary-mode: #101014;
        --third-mode: #2c2c2f;
        --gold-text: #fbbf24;
        --red-text: #f87171;
    }

    .light-mode {
        --primary-color: black;
        --secondary-color: white;
        --primary-mode: white;
        --secondary-mode: #f4f7fa;
        --third-mode: #f0f5fb;
        --gold-text: #ff8800;
        --red-text: red;
    }
}

@media (prefers-color-scheme: light) {

    /* Styles for light mode */
    :root {
        --primary-color: black;
        --secondary-color: white;
        --primary-mode: white;
        --secondary-mode: #f4f7fa;
        --third-mode: #f0f5fb;
        --gold-text: #ff8800;
        --red-text: red;
    }

    .dark-mode {
        --primary-color: white;
        --secondary-color: black;
        --primary-mode: #1b1b1c;
        --secondary-mode: #101014;
        --third-mode: #2c2c2f;
        --gold-text: #fbbf24;
        --red-text: #f87171;
    }
}

.text-mode {
    color: var(--primary-color);
    transition: color var(--transition-duration);
}


/*becouse select cdn change colors*/
.table>:not(caption)>*>* {
    color: var(--primary-color) !important;
}

.bg-primary-dark {
    background-color: var(--primary-mode);
}

.bg-secondary-dark {
    background-color: var(--secondary-mode);
}

.bg-third-dark {
    background-color: var(--third-mode) !important;
}

.bg-primary-dark,
.bg-secondary-dark,
.bg-third-dark {
    transition: background-color var(--transition-duration);
}

.form-control {
    background-color: white;
    transition: border-color var(--transition-duration);
}

.content-add {
    max-height: calc(100vh - 108px);
}

.edit,
.delete {
    font-weight: 600;
    position: relative;
    /* Ensure proper positioning for pseudo-element */
    transition: color 0.2s;
    /* Only transition color changes */
}

.edit {
    color: var(--gold-text) !important;
}

.delete {
    color: var(--red-text);
}

.edit::before,
.delete::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
    opacity: 0;
    transition: opacity 0.2s;
    /* Apply transition to opacity */
}

.edit::before {
    background-color: var(--gold-text);
}

.delete::before {
    background-color: var(--red-text);
}

.edit:hover::before,
.delete:hover::before {
    opacity: 1;
}

/*------------------
    Preloader
--------------------*/
#preloder {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #000;
}

.loader {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    border-radius: 60px;
    animation: loader 0.8s linear infinite;
    -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border: 4px solid #673ab7;
        border-left-color: transparent;
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }

    50% {
        -webkit-transform: rotate(180deg);
        border: 4px solid #673ab7;
        border-left-color: transparent;
    }

    100% {
        -webkit-transform: rotate(360deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
}

/*----------- 
Login page
----------*/

.main-login {
    background-color: #30344c;
}

.card-body .title {
    color: #000;
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 500;
}

.shap-1 {
    width: 4rem;
    margin-top: -49px !important;
    margin-right: -70px !important;
}

.shap-2 {
    width: 15rem;
    margin-bottom: -75px;
    margin-left: -75px;
}

.card {
    border-radius: 10px;
}

.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);
}

.form-label {
    /* color: #000; */
    font-weight: 500;
}

a.forgot-pass {
    transition: .3s;
}

a.forgot-pass:hover {
    color: blue !important;
}

/* start style admin pages */
/*----------- 
dashbord  page 
----------*/

.show-content {
    border-radius: 15px;
}

.show-content .title {
    color: white;
    font-size: 18px;
    margin: 0;
    font-weight: 600;
}

.show-content .number {
    font-size: 50px;
    color: wheat;
}

.show-first {
    background-color: #2F4858;
}

.show-secondary {
    background-color: var(--main-color);
}

.show-third {
    background-color: #41547D;
}

.dropdown-menu.view-add {
    min-width: 70px !important;
}

.dropdown-menu.view-add .dropdown-item {
    transition: .3s;
    padding: 0;
    text-align: center;
}

.dropdown-menu.view-add .dropdown-item:focus,
.dropdown-menu.view-add .dropdown-item:hover {
    color: #0085DB !important;
    background-color: transparent !important;
}

/*----------- 
aside page 
----------*/
.left-sidebar {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    background-color: var(--primary-mode) !important;

}

.color-active span {
    transition: .4s;
}

.color-active.active span {
    color: #0085DB !important;
}

.color-active.active {
    background-color: #ebedef;
    color: #0085DB !important;
    border-radius: 10px;
}

.color-active:hover.color-active span {
    color: #0085DB;
}

.submenu {
    overflow: hidden;
    transition: height 0.3s ease;
    height: 0;
    margin-left: 37px;
    position: relative;
    padding-left: 16px;
}

.submenu .border-left {
    position: absolute;
    height: 80%;
    width: 3px;
    background-color: #c9c9c9;
    margin-right: 10px;
    left: 0;
    top: 9px;
    border-radius: 15px;
}

.submenu.hide {
    display: none;
}

.submenu-title {
    transition: .2s;
}

.submenu-title.grey-hover-bg:before {
    width: 0px;
}

.submenu-title.grey-hover-bg:hover:before {
    width: 100%;
}

.submenu-title:hover {
    color: #0085DB !important;
}

.num_rows_input {
    width: 20%;
    padding: 5px 10px;
    z-index: 10;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.display-button,
.delete-button,
.enable-button,
.edit-button {
    transition: .2s;
}

.display-button:hover {
    color: rgb(251, 196, 125);
}

.enable-button:hover {
    color: rgb(75, 208, 139);
}

.delete-button:hover {
    color: rgb(248, 99, 62);
}

.edit-button:hover {
    color: rgb(0, 133, 219);
}

.input-name {
    width: 110px;
}

.input-focus:focus {
    border: 2px solid rgb(104, 104, 255);
}

/* start button control */
.bn13 {
    display: inline-block;
    padding: 0.65em 1.6em;
    border: 3px solid var(--primary-color);
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: var(--primary-color);
    text-align: center;
    transition: all 0.2s;
    animation: bn13bouncy 5s infinite linear;
    position: relative;
}

.bn13:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

@keyframes bn13bouncy {
    0% {
        top: 0em;
    }

    40% {
        top: 0em;
    }

    43% {
        top: -0.9em;
    }

    46% {
        top: 0em;
    }

    48% {
        top: -0.4em;
    }

    50% {
        top: 0em;
    }

    100% {
        top: 0em;
    }
}

/* end button control */

/*----------- 
myProfile page
----------*/

@media (max-width: 390px) {
    .modal-content {
        width: 90%;
    }

    .modal-header-text h2 {
        margin-top: 0;
        font-size: 20px;
    }

    .modal-header-text p {
        margin-bottom: 20px;
        font-size: 11px;
        color: #aaa;
    }

    #profilePicContainer {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    .uploadBtn {
        opacity: 1;
    }
}

@media (min-width: 390px) {
    .modal-content {
        width: 90%;
    }

    .modal-header-text h2 {
        margin-top: 0;
        font-size: 20px;
    }

    .modal-header-text p {
        margin-bottom: 20px;
        font-size: 11px;
        color: #aaa;
    }

    /* .profile-pic-div {} */

    #profilePicContainer {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    .uploadBtn {
        opacity: 0;
    }

    .profile-pic-div:hover .uploadBtn {
        opacity: 1;
    }
}

.profile-pic-div {
    position: relative;
    border-radius: 50% !important;
    border: 3px solid grey;
    cursor: pointer;
    padding: 0;
    height: 100px;
    max-width: 100px;
}

.img-view {
    position: relative;
    border-radius: 50% !important;
    border: 3px solid grey;
    cursor: pointer;
    padding: 0;
    height: 50px;
    width: 50px;
}

#img-file {
    display: none;
}

.uploadBtn {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-color: rgb(96, 90, 90);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -8px;
    right: 0px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.uploadBtn img {
    width: 16px;
}

/* Alrt Modal */

/* start style livewire */

.custom-image {
    margin-top: 55px;
    border-radius: 5px;
}

.swal2-close {
    margin-right: -28px;
}

.swal2-title {
    padding: 1.2em 1em 0;
}

.swal2-html-container {
    /* text-align: left !important; */
    margin: 20px 0 0 0 !important;
    font-weight: 500 !important;
}

.swal2-popup,
.swal2-modal,
.swal2-show {
    padding: 2rem;
}

.swal2-confirm {
    background-color: var(--main-color) !important;
}

.custom-image {
    width: 100%;
}

/* end style livewire */

/* photo profile styles */
.modal,
.modal-edit {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
}

.content-modal,
.content-modal-edit {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* Adjust width as needed */
    max-width: 600px;
    /* Max width for larger screens */
    background-color: var(--secondary-mode);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.close {
    position: absolute;
    top: 0px;
    right: 15px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.content-modal img {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
    /* Adjust the fit mode as needed */
}

/* start modal show courses in page view users */
#sections {
    color: var(--primary-color);
    width: 100%;
}

#sections details {
    border-bottom: 1px solid var(--third-mode);
    margin-bottom: 13px;
}

#sections details summary {
    background-color: var(--main-color);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#sections details ul {
    margin: -6px 0 12px 24px;
    max-height: 100px;
    overflow: auto;
}

#sections details ul::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
}

#sections details ul::-webkit-scrollbar-track {
    background-color: transparent;
}

#sections details ul::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

/* end modal show courses in page view users */

.name-profile h3 {
    margin: 13px 0px 0 8px;
}

.img-name-admin {
    border-bottom: 1px solid #e6ecf1;
    padding-bottom: 20px;
}

.content-profile p {
    cursor: pointer;
    font-weight: 500;
}

.content-profile p.active {
    border-bottom: 2px solid #0085DB;
    color: #0085DB;
}

.border-bottom {
    border-bottom: 1px solid #e6ecf1;
}

.icon-edit {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.img-nav {
    width: 45px;
    height: 45px !important;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid grey;
}

.img-nav img {
    width: 100%;
    height: 45px;
    object-fit: cover;
}

.table-profile {
    width: 100%;
    padding: 12px !important;
    border: 1px solid var(--primary-mode);
    border-radius: 8px;
}

.border-bottom-mode {
    border-bottom: 1px solid var(--primary-mode);
}

/* start style footer-admin */

.footer-admin {
    position: relative;
    background-color: var(--white);
    padding: 20px;
}

.footer-admin .top-footer {
    position: relative;
    top: -50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    padding: 20px 40px;
    background-color: var(--main-color);
    box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
    -webkit-box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
}

.footer-admin .top-footer .text p:first-child {
    font-size: 20px;
    color: white;
}

.footer-admin .top-footer .text p:last-child {
    font-size: 16px;
    color: #000;
}

.footer-admin .top-footer .click-here {
    padding: 20px 40px;
    font-size: 16px;
    background-color: #1b1b1c;
    color: white;
    transition: .2s;
}

.footer-admin .top-footer .click-here:hover {
    color: white;
    background-color: #000;
}

.footer-admin .main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: auto;
    padding-bottom: 15px;
}

.footer-admin .main-footer .logo {
    font-size: 30px;
    color: var(--black);
    font-weight: bold;
}

.footer-admin .main-footer .links a {
    font-size: 16px;
    transition: .2s;
}

.footer-admin .main-footer .links a:hover {
    color: var(--main-color);
}

.footer-admin .main-footer .links a:not(:last-child) {
    margin-right: 35px;
}

.footer-admin .main-footer .follow-us a {
    font-size: 20px;
    transition: .2s;
}

.footer-admin .main-footer .follow-us a:hover {
    color: var(--main-color);
}

.footer-admin .main-footer .follow-us a:first-child {
    margin-right: 8px;
}

.bottom-footer {
    display: flex;
    justify-content: center;
    background-color: var(--light-bg);
    padding: 20px;
}

.bottom-footer p {
    color: var(--black);
    font-size: 16px;
    text-align: center;
}

.bottom-footer p a {
    font-weight: bold;
    color: var(--main-color);
    white-space: nowrap;
}

@media (max-width:991px) {
    .footer-admin .top-footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-admin .top-footer .click-here {
        margin-top: 10px;
    }
}

/* end style footer */  

/*----------- 
tutorial
----------*/

/*start button cancel */
.outer {
    position: relative;
    width: 35px;
    cursor: pointer;
}

.inner {
    width: inherit;
    text-align: center;
}

.cancel {
    font-size: .6em;
    line-height: 4em;
    text-transform: uppercase;
    transition: all .3s ease-in;
    opacity: 0;
    cursor: pointer;
}

.inner:before,
.inner:after {
    position: absolute;
    content: '';
    height: 1px;
    width: inherit;
    background: red;
    left: 0;
    transition: all .3s ease-in;
}

.inner:before {
    top: 50%;
    transform: rotate(45deg);
}

.inner:after {
    bottom: 50%;
    transform: rotate(-45deg);
}

.outer:hover label {
    opacity: 1;
}

.outer:hover .inner:before,
.outer:hover .inner:after {
    transform: rotate(0);
}

.outer:hover .inner:before {
    top: 0;
}

.outer:hover .inner:after {
    bottom: 0;
}

/*end button cancel */

/* start style select multiable */

/* end style select multiable */